---
- name: Import base image playbook
  ansible.builtin.import_playbook: base.yml

# TODO: Remove this when and if that becomes possible.  See
# cisagov/skeleton-packer#301.
- name: >-
    Import playbook to install prerequisites for the Netplan
    configuration fix
  ansible.builtin.import_playbook: install-prerequisites-for-netplan-configuration-fix.yml

- name: Import AWS playbook
  ansible.builtin.import_playbook: aws.yml

- name: Import Example playbook
  ansible.builtin.import_playbook: example.yml
